/.idea/
/blocpress-core/target/
/blocpress-render/target/
/blocpress-render/blocpress-render.iml
/.continue/
CLAUDE.md
/docs/templates/arc42-template.adoc
/docs/templates/Template_Element_Design_Concept.md
/docs/templates/Template_Solution_Design_Concept.md
/docs/templates/Template_System_Design_Concept.md
/target/
/docs/arc42.pdf
/docs/Element_Design_Concept.pdf
/docs/Solution_Design_Concept.pdf
/docs/System_Design_Concept.pdf
/docs/blocpress-logo-large-orig.svg
/blocpress-render/blocpress-server.iml
/src/site/
