/.idea/
/target/
/blocpress-core/target/
/blocpress-render/target/
/blocpress-workbench/target
/blocpress-studio/target/
/blocpress-e2e/target/
/blocpress-render/blocpress-render.iml
/blocpress-render/blocpress-server.iml
/.continue/
/docs/templates/
/docs/specification/arc42.pdf
/docs/specification/Element_Design_Concept.pdf
/docs/specification/Solution_Design_Concept.pdf
/docs/specification/System_Design_Concept.pdf
/docs/images/blocpress-logo-large-orig.svg
/src/site/
/.claude/settings.json
