/.idea/
/blocpress-renderer/target/
/blocpress-server/target/
/blocpress-server/blocpress-server.iml
/.continue/
CLAUDE.md
/docs/templates/arc42-template.adoc
/docs/templates/Template_Element_Design_Concept.md
/docs/templates/Template_Solution_Design_Concept.md
/docs/templates/Template_System_Design_Concept.md
/target/site/css/apache-maven-fluido-2.0.0-M9.min.css
/target/site/css/print.css
/target/site/css/site.css
/target/site/fonts/glyphicons-halflings-regular.eot
/target/site/fonts/glyphicons-halflings-regular.svg
/target/site/fonts/glyphicons-halflings-regular.ttf
/target/site/fonts/glyphicons-halflings-regular.woff
/target/site/images/logos/build-by-maven-black.png
/target/site/images/logos/build-by-maven-white.png
/target/site/images/logos/maven-feather.png
/target/site/images/profiles/pre-release.png
/target/site/images/profiles/retired.png
/target/site/images/profiles/sandbox.png
/target/site/images/accessories-text-editor.png
/target/site/images/add.gif
/target/site/images/apache-maven-project-2.png
/target/site/images/application-certificate.png
/target/site/images/contact-new.png
/target/site/images/document-properties.png
/target/site/images/drive-harddisk.png
/target/site/images/fix.gif
/target/site/images/icon_error_sml.gif
/target/site/images/icon_help_sml.gif
/target/site/images/icon_info_sml.gif
/target/site/images/icon_success_sml.gif
/target/site/images/icon_warning_sml.gif
/target/site/images/image-x-generic.png
/target/site/images/internet-web-browser.png
/target/site/images/network-server.png
/target/site/images/package-x-generic.png
/target/site/images/remove.gif
/target/site/images/rss.png
/target/site/images/update.gif
/target/site/images/window-new.png
/target/site/img/glyphicons-halflings.png
/target/site/img/glyphicons-halflings-white.png
/target/site/js/apache-maven-fluido-2.0.0-M9.min.js
/target/site/failsafe-report.html
/target/site/index.html
/target/site/modules.html
/target/site/project-info.html
/target/site/project-reports.html
/target/site/summary.html
/target/site/surefire-report.html
/target/staging/blocpress-renderer/css/apache-maven-fluido-2.0.0-M9.min.css
/target/staging/blocpress-renderer/css/print.css
/target/staging/blocpress-renderer/css/site.css
/target/staging/blocpress-renderer/fonts/glyphicons-halflings-regular.eot
/target/staging/blocpress-renderer/fonts/glyphicons-halflings-regular.svg
/target/staging/blocpress-renderer/fonts/glyphicons-halflings-regular.ttf
/target/staging/blocpress-renderer/fonts/glyphicons-halflings-regular.woff
/target/staging/blocpress-renderer/images/logos/build-by-maven-black.png
/target/staging/blocpress-renderer/images/logos/build-by-maven-white.png
/target/staging/blocpress-renderer/images/logos/maven-feather.png
/target/staging/blocpress-renderer/images/profiles/pre-release.png
/target/staging/blocpress-renderer/images/profiles/retired.png
/target/staging/blocpress-renderer/images/profiles/sandbox.png
/target/staging/blocpress-renderer/images/accessories-text-editor.png
/target/staging/blocpress-renderer/images/add.gif
/target/staging/blocpress-renderer/images/apache-maven-project-2.png
/target/staging/blocpress-renderer/images/application-certificate.png
/target/staging/blocpress-renderer/images/close.gif
/target/staging/blocpress-renderer/images/contact-new.png
/target/staging/blocpress-renderer/images/document-properties.png
/target/staging/blocpress-renderer/images/drive-harddisk.png
/target/staging/blocpress-renderer/images/fix.gif
/target/staging/blocpress-renderer/images/icon_error_sml.gif
/target/staging/blocpress-renderer/images/icon_help_sml.gif
/target/staging/blocpress-renderer/images/icon_info_sml.gif
/target/staging/blocpress-renderer/images/icon_success_sml.gif
/target/staging/blocpress-renderer/images/icon_warning_sml.gif
/target/staging/blocpress-renderer/images/image-x-generic.png
/target/staging/blocpress-renderer/images/internet-web-browser.png
/target/staging/blocpress-renderer/images/network-server.png
/target/staging/blocpress-renderer/images/package-x-generic.png
/target/staging/blocpress-renderer/images/remove.gif
/target/staging/blocpress-renderer/images/rss.png
/target/staging/blocpress-renderer/images/update.gif
/target/staging/blocpress-renderer/images/window-new.png
/target/staging/blocpress-renderer/img/glyphicons-halflings.png
/target/staging/blocpress-renderer/img/glyphicons-halflings-white.png
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer/DataType.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer/DataType.java.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer/index.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer/index.source.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer/LibreOfficeExporter.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer/LibreOfficeExporter.java.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer/OutputFormat.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer/OutputFormat.java.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer/RenderEngine.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer/RenderEngine.java.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer/TemplateDocument.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer/TemplateDocument.java.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer.odt/index.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer.odt/index.source.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer.odt/JexlConditionEvaluator.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer.odt/JexlConditionEvaluator.java.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer.odt/OdtHelper.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer.odt/OdtHelper.java.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer.odt/OdtTemplateDocument.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer.odt/OdtTemplateDocument.java.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer.odt/OdtTemplateElement$PathValue.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer.odt/OdtTemplateElement.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer.odt/OdtTemplateElement.java.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer.odt/OdtTemplateSectionElement.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer.odt/OdtTemplateSectionElement.java.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer.odt/UserFieldFormatter$NumberStyle.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer.odt/UserFieldFormatter.html
/target/staging/blocpress-renderer/jacoco/io.github.flaechsig.blocpress.renderer.odt/UserFieldFormatter.java.html
/target/staging/blocpress-renderer/jacoco/jacoco-resources/branchfc.gif
/target/staging/blocpress-renderer/jacoco/jacoco-resources/branchnc.gif
/target/staging/blocpress-renderer/jacoco/jacoco-resources/branchpc.gif
/target/staging/blocpress-renderer/jacoco/jacoco-resources/bundle.gif
/target/staging/blocpress-renderer/jacoco/jacoco-resources/class.gif
/target/staging/blocpress-renderer/jacoco/jacoco-resources/down.gif
/target/staging/blocpress-renderer/jacoco/jacoco-resources/greenbar.gif
/target/staging/blocpress-renderer/jacoco/jacoco-resources/group.gif
/target/staging/blocpress-renderer/jacoco/jacoco-resources/method.gif
/target/staging/blocpress-renderer/jacoco/jacoco-resources/package.gif
/target/staging/blocpress-renderer/jacoco/jacoco-resources/prettify.css
/target/staging/blocpress-renderer/jacoco/jacoco-resources/prettify.js
/target/staging/blocpress-renderer/jacoco/jacoco-resources/redbar.gif
/target/staging/blocpress-renderer/jacoco/jacoco-resources/report.css
/target/staging/blocpress-renderer/jacoco/jacoco-resources/report.gif
/target/staging/blocpress-renderer/jacoco/jacoco-resources/session.gif
/target/staging/blocpress-renderer/jacoco/jacoco-resources/sort.gif
/target/staging/blocpress-renderer/jacoco/jacoco-resources/sort.js
/target/staging/blocpress-renderer/jacoco/jacoco-resources/source.gif
/target/staging/blocpress-renderer/jacoco/jacoco-resources/up.gif
/target/staging/blocpress-renderer/jacoco/index.html
/target/staging/blocpress-renderer/jacoco/jacoco.csv
/target/staging/blocpress-renderer/jacoco/jacoco.xml
/target/staging/blocpress-renderer/jacoco/jacoco-sessions.html
/target/staging/blocpress-renderer/js/apache-maven-fluido-2.0.0-M9.min.js
/target/staging/blocpress-renderer/dependencies.html
/target/staging/blocpress-renderer/project-info.html
/target/staging/blocpress-renderer/project-reports.html
/target/staging/blocpress-renderer/summary.html
/target/staging/blocpress-server/css/apache-maven-fluido-2.0.0-M9.min.css
/target/staging/blocpress-server/css/print.css
/target/staging/blocpress-server/css/site.css
/target/staging/blocpress-server/fonts/glyphicons-halflings-regular.eot
/target/staging/blocpress-server/fonts/glyphicons-halflings-regular.svg
/target/staging/blocpress-server/fonts/glyphicons-halflings-regular.ttf
/target/staging/blocpress-server/fonts/glyphicons-halflings-regular.woff
/target/staging/blocpress-server/images/logos/build-by-maven-black.png
/target/staging/blocpress-server/images/logos/build-by-maven-white.png
/target/staging/blocpress-server/images/logos/maven-feather.png
/target/staging/blocpress-server/images/profiles/pre-release.png
/target/staging/blocpress-server/images/profiles/retired.png
/target/staging/blocpress-server/images/profiles/sandbox.png
/target/staging/blocpress-server/images/accessories-text-editor.png
/target/staging/blocpress-server/images/add.gif
/target/staging/blocpress-server/images/apache-maven-project-2.png
/target/staging/blocpress-server/images/application-certificate.png
/target/staging/blocpress-server/images/close.gif
/target/staging/blocpress-server/images/contact-new.png
/target/staging/blocpress-server/images/document-properties.png
/target/staging/blocpress-server/images/drive-harddisk.png
/target/staging/blocpress-server/images/fix.gif
/target/staging/blocpress-server/images/icon_error_sml.gif
/target/staging/blocpress-server/images/icon_help_sml.gif
/target/staging/blocpress-server/images/icon_info_sml.gif
/target/staging/blocpress-server/images/icon_success_sml.gif
/target/staging/blocpress-server/images/icon_warning_sml.gif
/target/staging/blocpress-server/images/image-x-generic.png
/target/staging/blocpress-server/images/internet-web-browser.png
/target/staging/blocpress-server/images/network-server.png
/target/staging/blocpress-server/images/package-x-generic.png
/target/staging/blocpress-server/images/remove.gif
/target/staging/blocpress-server/images/rss.png
/target/staging/blocpress-server/images/update.gif
/target/staging/blocpress-server/images/window-new.png
/target/staging/blocpress-server/img/glyphicons-halflings.png
/target/staging/blocpress-server/img/glyphicons-halflings-white.png
/target/staging/blocpress-server/jacoco/io.github.flaechsig.blocpress.server.render.render/index.html
/target/staging/blocpress-server/jacoco/io.github.flaechsig.blocpress.server.render.render/index.source.html
/target/staging/blocpress-server/jacoco/io.github.flaechsig.blocpress.server.render.render/RenderHandler.html
/target/staging/blocpress-server/jacoco/io.github.flaechsig.blocpress.server.render.render/RenderHandler.java.html
/target/staging/blocpress-server/jacoco/io.github.flaechsig.blocpress.server.render.template/index.html
/target/staging/blocpress-server/jacoco/io.github.flaechsig.blocpress.server.render.template/index.source.html
/target/staging/blocpress-server/jacoco/io.github.flaechsig.blocpress.server.render.template/TemplateResource.html
/target/staging/blocpress-server/jacoco/io.github.flaechsig.blocpress.server.render.template/TemplateResource.java.html
/target/staging/blocpress-server/jacoco/jacoco-resources/branchfc.gif
/target/staging/blocpress-server/jacoco/jacoco-resources/branchnc.gif
/target/staging/blocpress-server/jacoco/jacoco-resources/branchpc.gif
/target/staging/blocpress-server/jacoco/jacoco-resources/bundle.gif
/target/staging/blocpress-server/jacoco/jacoco-resources/class.gif
/target/staging/blocpress-server/jacoco/jacoco-resources/down.gif
/target/staging/blocpress-server/jacoco/jacoco-resources/greenbar.gif
/target/staging/blocpress-server/jacoco/jacoco-resources/group.gif
/target/staging/blocpress-server/jacoco/jacoco-resources/method.gif
/target/staging/blocpress-server/jacoco/jacoco-resources/package.gif
/target/staging/blocpress-server/jacoco/jacoco-resources/prettify.css
/target/staging/blocpress-server/jacoco/jacoco-resources/prettify.js
/target/staging/blocpress-server/jacoco/jacoco-resources/redbar.gif
/target/staging/blocpress-server/jacoco/jacoco-resources/report.css
/target/staging/blocpress-server/jacoco/jacoco-resources/report.gif
/target/staging/blocpress-server/jacoco/jacoco-resources/session.gif
/target/staging/blocpress-server/jacoco/jacoco-resources/sort.gif
/target/staging/blocpress-server/jacoco/jacoco-resources/sort.js
/target/staging/blocpress-server/jacoco/jacoco-resources/source.gif
/target/staging/blocpress-server/jacoco/jacoco-resources/up.gif
/target/staging/blocpress-server/jacoco/index.html
/target/staging/blocpress-server/jacoco/jacoco.csv
/target/staging/blocpress-server/jacoco/jacoco.xml
/target/staging/blocpress-server/jacoco/jacoco-sessions.html
/target/staging/blocpress-server/js/apache-maven-fluido-2.0.0-M9.min.js
/target/staging/blocpress-server/dependencies.html
/target/staging/blocpress-server/project-info.html
/target/staging/blocpress-server/project-reports.html
/target/staging/blocpress-server/summary.html
/target/staging/css/apache-maven-fluido-2.0.0-M9.min.css
/target/staging/css/print.css
/target/staging/css/site.css
/target/staging/fonts/glyphicons-halflings-regular.eot
/target/staging/fonts/glyphicons-halflings-regular.svg
/target/staging/fonts/glyphicons-halflings-regular.ttf
/target/staging/fonts/glyphicons-halflings-regular.woff
/target/staging/images/logos/build-by-maven-black.png
/target/staging/images/logos/build-by-maven-white.png
/target/staging/images/logos/maven-feather.png
/target/staging/images/profiles/pre-release.png
/target/staging/images/profiles/retired.png
/target/staging/images/profiles/sandbox.png
/target/staging/images/accessories-text-editor.png
/target/staging/images/add.gif
/target/staging/images/apache-maven-project-2.png
/target/staging/images/application-certificate.png
/target/staging/images/contact-new.png
/target/staging/images/document-properties.png
/target/staging/images/drive-harddisk.png
/target/staging/images/fix.gif
/target/staging/images/icon_error_sml.gif
/target/staging/images/icon_help_sml.gif
/target/staging/images/icon_info_sml.gif
/target/staging/images/icon_success_sml.gif
/target/staging/images/icon_warning_sml.gif
/target/staging/images/image-x-generic.png
/target/staging/images/internet-web-browser.png
/target/staging/images/network-server.png
/target/staging/images/package-x-generic.png
/target/staging/images/remove.gif
/target/staging/images/rss.png
/target/staging/images/update.gif
/target/staging/images/window-new.png
/target/staging/img/glyphicons-halflings.png
/target/staging/img/glyphicons-halflings-white.png
/target/staging/js/apache-maven-fluido-2.0.0-M9.min.js
/target/staging/failsafe-report.html
/target/staging/index.html
/target/staging/modules.html
/target/staging/project-info.html
/target/staging/project-reports.html
/target/staging/summary.html
/target/staging/surefire-report.html
/docs/Solution_Design_Concept.pdf
/docs/System_Design_Concept.pdf
/docs/arc42.pdf
